
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>TPGP</title>
    <!-- Bootstrap core CSS -->
    <link href="~/content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/content/css/Site.css" rel="stylesheet" />
    <link href="~/content/css/signin.css" rel="stylesheet" />
    <link href="~/content/css/footer.css" rel="stylesheet" />
</head>

<body>
    <!-- Navigation -->
    <div class="center">
        <nav class="navbar navbar-expand-lg navbar-light bg-fade navbar-inverse">
            <div class="container">
                <a class="navbar-brand navbar-right" href="#">CesaStack</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Page Content -->
        <div class="container">
            <form class="form-signin">
                <h2 class="form-signin-heading">Please sign in</h2>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-block" type="submit">Sign in</button>
            </form>
        </div> <!-- /container -->

        <footer class="footer">
            <div class="container">
                <span class="text-muted">FOOOOOOOOOOOTTTTTTEEEEEEEEEERRRRRRRRRRR.</span>
            </div>
        </footer>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="~/scripts/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>