@using PagedList;
@using PagedList.Mvc

@model IPagedList<TPGP.ViewModels.PortfolioViewModel>

@{
    ViewBag.Title = "Portfolios";
}

@section css {
    <link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" />
}

<h1>Portfolios of contracts</h1>
<hr />
<div>
    <table class="table">
        <tr>
            <th>Sector</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(@item.Portfolio.Sector, "Contracts", "Portfolio", new { id = item.Portfolio.Id }, null)
                </td>
            </tr>
        }

    </table>

    <div class="container pagination pager">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>