.login-form {
    margin: 165px auto;
    max-width: 400px;
}

form[role=login] {
    color: black;
    background-color: lightgrey;
    padding: 60px;
}

    form[role=login] img {
        display: block;
        margin: 0 auto;
        margin-bottom: 35px;
    }

    form[role=login] input,
    form[role=login] button {
        font-size: 18px;
        margin: 20px 0;
    }

    form[role=login] > div {
        text-align: center;
    }

.form-links {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 50px;
}

    .form-links a {
        color: #fff;
    }

.content {
    width: 140px;
}

    .content img {
        margin-right: 15px;
        float: left;
    }

    .content h3 {
        font-family: Caladea;
        color: royalblue;
    }