body {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tools {
    display: flex;
    justify-content: space-between;
}

.areas {
    list-style-type: none;
}

h1, h2, h3, h4 {
    text-align: center;
    color: rebeccapurple;
}

label {
    color: black;
}

.rolechange {
    display:flex;
}


dl {
    padding-left: 13px;
}

dd {
    color: black;
}

dt {
    color: rebeccapurple;
}

.back {
    padding: 15px;
}

.body-content {
    background-color: #bfd3f2;
    box-shadow: 0 0 10px black;
    margin-top: 50px;
}

.navbar {
    background-color: lightskyblue;
}

.dropdown {
    margin-top: 30px;
}

.footer {
    background-color: lightskyblue;
    text-align: center;
    line-height: 60px;
    margin-top: 50px;
}