body {
    margin-top: 40px;
    margin-bottom: 10px;
}

.center {
    margin-right: 5%;
    margin-left: 5%;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    background-color: lightskyblue;
}

.footer {
    background-color: lightskyblue;
    height: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 90%;
    margin-left: 5%;
    text-align: center;
    line-height: 60px;
}