@{
    ViewBag.Title = "Unauthorised Request";
    Layout = null;
}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>TPGP</title>
</head>

<body>
    <h1>
        Error 401 : Unauthorised Request
    </h1>
    <h2>You do not have permission to access the requested resource due to security restrictions.  In order to gain access, please speak to your system administrator.</h2>
</body>
</html>